
      body {
        background-color: #fff;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
        margin: 0;
      }

      h1 {
        color:hotpink;
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-bottom-style: dotted;
        border-bottom: none thick purple;
      }

      h2 {
        font-size: 1.5em;
      }

      .job-title {
        color: #999999;
        font-weight: bold;
      }
      ul{
        border: 0.5rem outset pink;
        border-radius: 12px;
        font: bold 1rem sans-serif;
        
      }

      a:link,
      a:visited {
        color: #fb6542;
      }

      a:hover {
        text-decoration: none;
      }
      .border{
        border-bottom-style: dotted;
        border-bottom: none thick palevioletred;
      }